body {
  background-color: #fff973;
}

#portal_header {
  text-align: center;
}

#button_portal {

  display: flex;
  justify-content: center;
  margin-left: 100px;
}

#object {
  margin-left: 100px;
}

#form {

}

#form_button {
  background-color: green;
  width: 250px;
  height: 100px;
}

#object_button {
  background-color: green;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: auto;
}
