body {
  background-color: #fff973;
}

#portal_header {
  text-align: center;
}

#button_portal {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border: 1px solid black;
}

#object {
  padding-left: 100px;
}

#form {}

#form_button {
  background-color: #fff973;
  width: 250px;
  height: 100px;
}

#object_button {
  background-color: #fff973;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: auto;
}
