@media screen and (max-width: 900px) {
  .blogBody {
    margin-left: 50px;
    margin-right: 50px;
  }

  #aboutMe {
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  #backButton {
    margin-left: 10px;
    margin-top: 10px;
    padding: 8px;
    background-color: #fff973;
    border: 3px solid black;
  }

  #headshot {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 10px solid black;
  }
}

@media screen and (min-width: 901px) {
  .blogBody {
    margin-left: 250px;
    margin-right: 250px;
  }

  #backButton {
    margin-left: 100px;
    margin-top: 50px;
    padding: 8px;
    background-color: #fff973;
    border: 3px solid black;
  }

  #aboutMe {
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 250px;
    text-align: center;
  }

  #headshot {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 13px solid black;
  }
}

body {
  background-color: #fff973;
}

h2 {
  font-size: 40px;
  font-weight: 1000;
  font-family: Roboto Mono;
}

h3 {
  font-size: 20px;
  font-family: Roboto Mono;
}

p {
  font-size: 18px;
  font-family: Roboto Mono;
}

#button_portal {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#portal_header {
  text-align: center;
  font-family: Roboto Mono;
  margin-top: 100px;
}

#blogSubtitle {
  font-size: 25px;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-position: right;
}


#object {
  padding-left: 100px;
}

#form {}

#form_button {
  font-family: Roboto Mono;
  background-color: #fff973;
  width: 250px;
  height: 100px;
  border: 3px solid black;
  /* border: none; */
}

#form_button:hover {
  font-family: Roboto Mono;
  background-color: #fff973;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: auto;
  border: 7px solid black;
}

#object_button {
  font-family: Roboto Mono;
  background-color: #fff973;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: auto;
  border: 3px solid black;
  /* border: none; */
}

#object_button:hover {
  font-family: Roboto Mono;
  background-color: #fff973;
  width: 250px;
  height: 100px;
  text-align: center;
  margin: auto;
  border: 7px solid black;
}

#className {
  margin-top: -12px;
}

#contact {
  padding-top: 15px;
  text-align: center;
}


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #FFCE34;
  text-decoration-style: double;
  text-shadow: none;
}

/* section content */
#blogContent {}

/* div content */
.blogContent {
  display: flex;
}

#blogText {
  font-family: Roboto Mono;
  padding-top: 10px;
}

/* .photoCaptionBorder {
  border: 2px solid black;
} */

#photoCaptionTop {
  font-family: Roboto Mono;
  text-align: center;
  font-size: 14px;
}


#photoCaption {
  font-family: Roboto Mono;
  margin-top: -15px;
  text-align: center;
  font-size: 14px;
}

#labMath {
  /* width: 600px; */
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 15px solid black;
}

#photoGridFirst {
  width: 650px;
  height: 480px;
  margin: auto auto;
}

#photoGridFirst>img {
  float: center;
  width: 45%;
  margin: 1.8%;
}

#photoGridSecond {
  width: 650px;
  height: 230px;
  margin: auto auto;
}

#photoGridSecond>img {
  float: center;
  width: 45%;
  margin: 1.8%;
}

#enclosureThree {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#meDescription {
font-size: 15px;
}
